
.pane{
  display: flex;
  justify-content: center;
}
.leftPane{
  width: 300px;
  height: 700px;

}
.rightPane{
  margin-left:2px;
  width: 400px;
  height: 700px;
}
input{
  margin-top: 4px;
  padding: 12px;
  font-size: 16px;
  width: 300px;
  border-radius: 30px;
  border: none;
  background-color: white;
  border: 1px solid black;
}
input::placeholder{
  position: relative;
  color: black;
  left: 35px;
}
/* h3{
  background-color: rgb(8, 83, 8);
  color: white;
  padding: 15px;
  margin: 0;
  text-align: center;
} */
li:hover{
  cursor: pointer;
}